<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.allfix.contacts.service.impl.ContactsMapper">

	<sql id="selectSeachCode">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="searchType == 'title' and searchText != ''">
				AND title like '%' || #{searchText} || '%'
			</if>
			AND is_del = 'N'
		</trim>	
	</sql>

	<select id="selectContactsListProc" 
		parameterType="kr.or.allfix.contacts.service.ContactsSearchVo" 
		resultType="kr.or.allfix.contacts.service.ContactsVo">
	
		SELECT * FROM (
			SELECT ROWNUM as num, frm.* from (
				SELECT
				    seq_no,
				    title,
				    reply_seq_no,
				    usr_ip,
				    is_del,
				    reg_user,
				    reg_dt,
				    upd_user,
				    upd_dt
				FROM
				    af_contacts
				<include refid="selectSeachCode"></include>
				ORDER BY 
					reg_dt DESC
			) frm
		) where num between #{startRow} and #{endRow}
	
	</select>
	
	<select id="selectContactsListCnt" 
		parameterType="kr.or.allfix.contacts.service.ContactsSearchVo"
		resultType="int">
	
		SELECT count(seq_no) as totalCnt
        FROM af_contacts
		<include refid="selectSeachCode"></include>
	
	</select>
	
	<select id="selectContactInfoProc" parameterType="String" resultType="kr.or.allfix.contacts.service.ContactsVo">
	
		SELECT
		    seq_no,
		    title,
		    reply_seq_no,
		    usr_ip,
		    is_del,
		    reg_user,
		    reg_dt,
		    upd_user,
		    upd_dt
		FROM
		    af_contacts
		WHERE seq_no = #{seqNo}
		
	</select>

	<insert id="insertContactInfoProc" parameterType="kr.or.allfix.contacts.service.ContactsVo">
	
		INSERT INTO af_contacts (
		    seq_no,
		    title,
		    reply_seq_no,
		    usr_ip,
		    is_del,
		    reg_user,
		    reg_dt,
		    upd_user,
		    upd_dt
		) VALUES (
		    SEQ_AF_CONTACTS.NEXTVAL,
		    #{title},
		    #{replySeqNo},
		    #{usrIp},
		    'N',
		    #{regUser},
		    sysdate,
		    #{updUser},
		    sysdate
		)
	
	</insert>

	<update id="deleteContactInfoProc" parameterType="HashMap">
	
		UPDATE af_contacts
		SET
			usr_ip = #{usrIp},
		    is_del = 'Y',
		    upd_user = #{updUser},
    		upd_dt = sysdate
		WHERE
		    seq_no =  #{seqNo}
		
	</update>


</mapper>